{% block top %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>珠宝交易平台</title>
<link rel="stylesheet" type="text/css" href="/static/Assets/css/reset.css"/>
<script type="text/javascript" src="/static/Assets/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/Assets/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="/static/Assets/css/thems.css">
<style>
    #mess{
        position: relative;
        left: 75px;
        bottom: 10px;
    }
</style>
</head>

<body>
<!--头部-->
<div class="head clearfix">
    <div class="logo"><a href="index.html"><img src="/static/Assets/images/logo.png" alt="福瑞星"/></a></div>
    <div class="head_r">
    	<div class="shopcar"><a href="/shopcar">我的购物车</a></div>
        <div class="by"><img src="/static/Assets/images/icon1.png" alt=""/></div>
    </div>
</div>
<ul class="nav clearfix">
    <li class="now"><a href="/">首页</a></li>
    <li><a href="/search">裸钻搜索</a></li>
    <li><a href="/product">成品下单区</a></li>
    <li><a href="/price">国际钻石报价表</a></li>
    <li><a href="/diploma">证书查询</a></li>
    <li><a href="/payway">支付方式</a></li>
    <li><a href="/about">关于我们</a></li>
    <li><a href="/contact">联系我们</a></li>
    <li><a href="/user">会员中心</a></li>
</ul>
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="i_mian clearfix">
	<div class="bg_a">&nbsp;</div>
	<div class="i_ma clearfix">
    	<div class="i_mal">
    		<!--幻灯片-->
            <div class="banner">
                <div id="inner">
                    <div class="hot-event">
                        <div class="event-item" style="display: block;">
                            <a target="_blank" href="index.html" class="banner">
                                <img src="/static/Assets/upload/banner_a.png" class="photo" alt="福瑞星" />
                            </a>
                        </div>
                        <div class="event-item" style="display: none;">
                            <a target="_blank" href="index.html" class="banner">
                                <img src="/static/Assets/upload/banner_b.png" class="photo" alt="福瑞星" />
                            </a>
                        </div>
                        <div class="event-item" style="display: none;">
                            <a target="_blank" href="index.html" class="banner">
                                <img src="/static/Assets/upload/banner_c.png" class="photo" alt="福瑞星" />
                            </a>
                        </div>
                        <div class="switch-tab">
                            <a href="#" onClick="return false;" class="current">1</a>
                            <a href="#" onClick="return false;">2</a>
                            <a href="#" onClick="return false;">3</a>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $('#inner').nav({ t: 6000, a: 500 });
                </script>
            </div>
            <!--幻灯片-->
            <div class="space_hx">&nbsp;</div>
            <div class="alm">
            	<p class="f24">欢迎光临珠宝交易平台网上钻石交易平台，很荣幸您成为我们尊贵的客户。</p>
                <p>如果您是第一次登陆我们的网站，请您先注册成为我们的会员，在客户经理审核您的资料并通过后，便可登陆查询（温馨提示：请您务必使用真实信息，以便我们与您第一时间取得联系，为您提供更优质的服务）如果您遇到任何疑问，请致电客户经理与您及时沟通。</p>
                {% if not user %}
                <p class="f16">
                	您还在为没有合适的货源而烦恼吗？快<a href="/register/">注册</a>成为我们的会员，便捷又快速的查询您想要的信息吧！
                </p>
                {% endif %}
            </div>
        </div>
{% endblock %}
        {% block middle %}
        <div class="i_mar">
            {% if user %}
                <style>
                    .logout{
                            position: absolute;
                            left: 1000px;
                            bottom: 200px;
                        }
                    .myclass{
                        position: absolute;
                        left: 900px;
                        bottom: 300px;
                    }
                </style>

                <h1 class="myclass">欢迎您：{{ username }}</h1>
                <script>
                    console.log({{ username }})
                </script>
                <form action="/logout/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="退出" class="logout">
                </form>
            {% else %}
                <form action="/" method="post">
                    {% csrf_token %}
                    <ul class="i_login">
                        <li class="name">会员登录</li>
                        <li class="clearfix">
                            <span>用户名：</span>
                            <input name="username" type="text">
                        </li>
                        <li class="clearfix">
                            <span>密&nbsp;&nbsp;码：</span>
                            <input name="password" type="password">
                        </li>
                        <p id="mess">{{ mess }}</p>
                        <li class="btn">
                            <input name="" type="submit" value="登录">
                            <a href="/register/">注册</a>
                        </li>
                        <li class="forget">
                            <a href="/repwd">忘记密码?</a>
                        </li>

                    </ul>
                </form>

            {% endif %}
        </div>
        {% endblock %}
{% block bottom %}
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="i_mb">
    	<p>公司宗旨: 诚信为本  立足长远 .锐意进取 合作共赢。</p>
        <p>业务范围: GIA 国检及散货裸石批发，各种钻石首饰的设计、订制及加工。</p>
        <p>公司文化: 完善的售后服务是我们追求的终极目标。以信为本，以诚待客是我们不变的信仰。</p>
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<!--底部-->
<div class="foot">
	<p>Copyright 2015 © 珠宝交易平台 All rights reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a><a href="index.html">最新公告</a> | <a href="index.html">联系我们</a></p>
</div>
<!--底部-->
</body>
</html>
{% endblock %}
